{{
response.files.append(URL('static','fullcalendar/fullcalendar.css'))
# response.files.append(URL('static','fullcalendar/fullcalendar.print.css'))
response.files.append(URL('static','fullcalendar/jquery-ui-1.8.23.custom.min.js'))
response.files.append(URL('static','fullcalendar/fullcalendar.min.js'))
}}
{{extend 'layout.html'}}

{{
from gluon.contrib.simplejson import dumps
def jsdate(dt):
   return 'new Date(%i,%i,%i,%i,%i)' % (dt.year, dt.month-1, dt.day, dt.hour, dt.minute)
def info(avail):
   return dumps([[x[0],x[1],x[2]] for x in avail if x[2]])
}}

<script type='text/javascript'>
  jQuery(function(){
    function sdate(d) {
      return ''+d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate()+'T'+d.getHours()+':'+d.getMinutes();
    } 
    jQuery('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: ''
      },
      defaultView: 'agendaWeek',
      allDaySlot: false,
      slotMinutes: 30,
      eventClick: function(event) {
          jQuery('#book').attr('href','{{=URL('reserve')}}?start='+event.meta);
          ajax('{{=URL('check_friends')}}','','modal-body');
          $('#myModal').modal();          
      },
      events: [
{{for k,slot in enumerate(slots):}}{{if k>0:}},
{{pass}}{id:{{=k}},title:'{{=slot('spaces')}}',start:{{=jsdate(slot.timeslot.start_datetime)}},end:{{=jsdate(slot.timeslot.stop_datetime)}},allDay:false,meta:'{{=slot.timeslot.start_datetime}}'}{{pass}}
      ]
    });
  });
</script>
</head>
<body>

<div id='wrap'>
<div id='calendar'></div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">People Avalable</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>Loading...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a id="book" href="#" class="btn btn-primary">Book</a>
  </div>
</div>
